<style>
    .recipe-plugin-nutrition-label {
        background: #fff;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 10px 10px 0 10px;
        max-width: 300px;
        font-family: Helvetica, Arial, sans-serif;
        margin: 0 auto;
        font-size: 14px;
        font-weight: normal;
        text-align: left;
        -webkit-font-smoothing: antialiased;
    }

    .recipe-plugin-label-header {
        border-bottom: 10px solid #000;
        padding: 0 0 5px;
        margin: 0 0 4px;
    }

    .recipe-plugin-label-title {
        font-family: "Helvetica Black", "Franklin Gothic Heavy", Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 34px;
        margin: 0 0 2px;
    }

    .recipe-plugin-detail {
        line-height: 1.25;
    }

    .recipe-plugin-nutrition-label table {
        width: 100%;
        border-spacing: 0;
    }

    .recipe-plugin-nutrition-label table thead th {
        border: 0;
        padding: 5px 0;
        font-weight: 400;
    }

    .recipe-plugin-small-info {
        font-size: 11.5px;
    }

    .recipe-plugin-nutrition-label table tbody th, .recipe-plugin-nutrition-label table tbody td {
        padding: 3px 0;
        border-top: 1px solid #000;
        line-height: 1.75;
        font-weight: normal;
    }

    .recipe-plugin-nutrition-label table td:last-child {
        text-align: right;
    }

    .recipe-plugin-nutrition-label table td.recipe-plugin-indent {
        border-collapse: separate;

        border-top: 1px solid transparent;
        width: 17px;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros:not(:empty) td {
        border-top: 4px solid #000;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros ul {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-thick-row td {
        border-top: 4px solid #000;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li:nth-child(1n+0) {
        padding-right: 8px;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li:nth-child(2n+0) {
        padding-left: 7px;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li:first-child, .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li:nth-child(2) {
        border-top: none;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li {
        border-top: 1px solid #000;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li {
        box-sizing: border-box;
        float: left;
        line-height: 1.75;
        text-align: left;
        width: 50%;
    }

    .recipe-plugin-nutrition-label table tr.recipe-plugin-micros li span {
        text-align: right;
        float: right;
    }
</style>

{% macro percentage(numerator, denomoninator, serves = 1) %}
    {% if serves is empty %}
        {% set serves = 1 %}
    {% endif %}
    {% set result = ((numerator / serves) * 100) / denomoninator %}
    {{ result | number_format(0) ~ '%' }}
{% endmacro %}
{% from _self import percentage %}

{% macro servesValue(value, serves) %}
    {% set result = value / serves %}
    {{- result | number_format(0) -}}
{% endmacro %}
{% from _self import servesValue %}

<div class="recipe-plugin-label">
    <div class="recipe-plugin-label-wrapper">
        <div class="recipe-plugin-nutrition-label">
            <header class="recipe-plugin-label-header">
                <h1 class="recipe-plugin-label-title">Nutrition Facts</h1>
                {% if value.servingSize | length %}
                    <div class="recipe-plugin-detail">Serving
                        Size: {{ servesValue(value.servingSize, value.serves) }}</div>
                {% endif %}
                {% if value.serves | length %}
                    <div class="recipe-plugin-detail">Serves: {{ value.serves }}</div>
                {% endif %}
            </header>
            <table class="recipe-plugin-label-table">
                <thead>
                <tr>
                    <th colspan="3" class="recipe-plugin-small-info"><b>Amount Per Serving</b></th>
                </tr>
                </thead>
                <tbody>
                {% if value.calories | length %}
                    <tr class="recipe-plugin-calories-row">
                        <td colspan="2"><b>Calories:</b></td>
                        <td>{{ servesValue(value.calories, value.serves) }}</td>
                    </tr>
                {% endif %}
                <tr class="recipe-plugin-thick-row">
                    <td colspan="3" class="recipe-plugin-small-info"><b>% Daily Value*</b></td>
                </tr>
                {% if value.fatContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td colspan="2"><b>Total Fat:</b> {{ servesValue(value.fatContent, value.serves) ~ 'g' }}</td>
                        <td><b>{{ percentage(value.fatContent, rda.fatContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}
                {% if value.saturatedFatContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td class="recipe-plugin-indent"></td>
                        <td>Saturated Fat: {{ servesValue(value.saturatedFatContent, value.serves) ~ 'g' }}</td>
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if value.transFatContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td class="recipe-plugin-indent"></td>
                        <td>Trans Fat: {{ servesValue(value.transFatContent, value.serves) ~ 'g' }}</td>
                        <td>
                        </td>
                    </tr>
                {% endif %}
                {% if value.cholesterolContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td colspan="2">
                            <b>Cholesterol:</b> {{ servesValue(value.cholesterolContent, value.serves) ~ 'mg' }}</td>
                        <td><b>{{ percentage(value.cholesterolContent, rda.cholesterolContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}
                {% if value.sodiumContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td colspan="2"><b>Sodium:</b> {{ servesValue(value.sodiumContent, value.serves) ~ 'mg' }}</td>
                        <td><b>{{ percentage(value.sodiumContent, rda.sodiumContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}
                {% if value.carbohydrateContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td colspan="2"><b>Total
                                Carbohydrate:</b> {{ servesValue(value.carbohydrateContent, value.serves) ~ 'g' }}</td>
                        <td><b>{{ percentage(value.carbohydrateContent, rda.carbohydrateContent, value.serves) }}</b>
                        </td>
                    </tr>
                {% endif %}
                {% if value.fiberContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td class="recipe-plugin-indent"></td>
                        <td>Dietary Fiber: {{ servesValue(value.fiberContent, value.serves) ~ 'g' }}</td>
                        <td><b>{{ percentage(value.fiberContent, rda.fiberContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}
                {% if value.sugarContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td class="recipe-plugin-indent"></td>
                        <td>Sugars: {{ servesValue(value.sugarContent, value.serves) ~ 'g' }}</td>
                        <td><b>{{ percentage(value.sugarContent, rda.sugarContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}
                {% if value.proteinContent | length %}
                    <tr class="recipe-plugin-macros">
                        <td colspan="2"><b>Protein:</b> {{ servesValue(value.proteinContent, value.serves) ~ 'g' }}</td>
                        <td><b>{{ percentage(value.proteinContent, rda.proteinContent, value.serves) }}</b></td>
                    </tr>
                {% endif %}

                </tbody>
            </table>
        </div>
    </div>
</div>
